# ---> Scala
*.class
*.log

# sbt
target
project/target/
project/project/
metals.sbt

# Metals
.bloop/
.bsp/
.metals/
.scala-build/

# VSCode
.vscode/

# IntelliJ
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# MacOS stuff
.DS_Store
